<main class="bg-gray-50">
  <div class="mx-auto md:h-screen flex flex-col justify-center items-center px-6 pt-8 pt:mt-0">
    <a href="/" class="text-2xl font-semibold flex justify-center items-center mb-8 lg:mb-10">
      <span class="h-10 mr-4">
        <%= logo_svg('h-8 w-auto sm:h-10') %>
      </span>
      <span class="self-center text-2xl font-bold whitespace-nowrap">Ruby on Life</span>
    </a>
    <div class="bg-white shadow rounded-lg md:mt-0 w-full sm:max-w-screen-sm xl:p-0">
      <div class="p-6 sm:p-8 lg:p-16 space-y-8">
        <h2 class="text-2xl lg:text-3xl font-bold text-gray-900">
          Create a Free Account
        </h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mt-8 space-y-6' }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div>
            <%= f.label :email, class: 'text-sm font-medium text-gray-900 block mb-2' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5', required: true, placeholder: 'email@example.com' %>
          </div>
          <div>
            <%= f.label :password, class: 'text-sm font-medium text-gray-900 block mb-2' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5', required: true, placeholder: '••••••••' %>
          </div>
          <div>
            <%= f.label :password_confirmation, class: 'text-sm font-medium text-gray-900 block mb-2' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5', required: true, placeholder: '••••••••' %>
          </div>
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="remember" aria-describedby="remember" name="remember" type="checkbox" class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded" required>
            </div>
            <div class="text-sm ml-3">
              <label for="remember" class="font-medium text-gray-900">I accept the <a href="#" class="text-teal-500 hover:underline">Terms and Conditions</a></label>
            </div>
          </div>
          <%= f.submit "Create account", class: 'text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-base px-5 py-3 w-full sm:w-auto text-center' %>
          <div class="text-sm font-medium text-gray-500">
            Already have an account?
            <%= link_to "Login here", new_session_path(resource_name), class: 'text-teal-500 hover:underline' %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
