<div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4">
  <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
    <div class="flex items-center justify-between mb-4">
      <h3 class="text-xl font-bold leading-none text-gray-900"><%= title %></h3>
    </div>
    <div class="flow-root">
      <ul id="games" role="list" class="divide-y divide-gray-200">
        <% games.each_with_index do |game, i| %>
          <li class="<%= i + 1 < games.length ? 'py-3 sm:py-4' : 'pt-3 sm:pt-4 pb-0' %>">
            <div class="flex items-center space-x-4 group">
              <div class="flex-shrink-0">
                <%= link_to game do %>
                  <%= grid_to_svg(game.grid, class: 'fill-cyan-600 h-12 w-12 m-2 border-2 rounded-lg shadow-lg group-hover:h-16 group-hover:w-16 group-hover:m-0 group-hover:shadow-xl') %>
                <% end %>
              </div>
              <div class="flex-1 min-w-0">
                <%= link_to game do %>
                  <p class="text-sm font-medium text-gray-900 truncate">
                    <%= game.name || game.code %>
                  </p>
                  <p class="text-md text-gray-500 font-bold">
                    <%= game.height %>
                    <span class="text-sm font-normal">x</span>
                    <%= game.width %>
                  </p>
                <% end %>
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                  <%= game.description %>
                </p>
              </div>
              <%- if game.user_id == current_user&.id %>
                <div class="items-center text-base font-semibold text-gray-900 group-hover:inline-flex inline-flex">
                  <%= link_to edit_game_path(game), class: 'py-3 px-2 text-cyan-800 hover:text-cyan-500' do %>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                  <% end %>
                  <%= button_to game, method: :delete, class: 'py-3 px-2 text-red-800 hover:text-red-500' do %>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>