<div id="<%= dom_id game %>">
  <p>
    <strong>Code:</strong>
    <%= game.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= game.user_id %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= game.height %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= game.width %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= game.content %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= game.public %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= game.deleted_at %>
  </p>

</div>
